@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-slide {
  animation: slide 10s linear infinite;
}
@media (min-width: 768px) {
  .animate-slide {
    animation: slide 12s linear infinite;
  }
}
