@import "tailwindcss";

:root {
  --turquoise-50: #e6f8f7;
  --turquoise-100: #c8f1f1;
  --turquoise-200: #9be6e4;
  --turquoise-300: #6fd6d3;
  --turquoise-400: #3fbfbd;
  --turquoise-500: #209c97;
}

